*/Binaries
Binaries/*
*/Build
Build/*
*/Content
Content/*
*/DerivedDataCache
DerivedDataCache/*
*/Intermediate
Intermediate/*
*/Saved
Saved/*
*/StarterContent
StarterContent/*
*.dll
*VC.db
*.bin
*.db
